*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     margin: 0;
     padding: 0;
     div#log{
          height: 100vh;
          width: 100%;
          margin: 0;
          padding: 0;
          div#flipbook{
               position: absolute !important;
               top: 0;
               left: 0rem;
               height: 100vh !important;
               width: 100% !important;
               margin: 0 !important;
               padding: 0 !important;
               div.page-wrapper{
               }
               div#SignIn{
                    background-image: url("../IMAGES/vintage/5.jpg");
               }
               div#SignUp{
                    background-image: url("../IMAGES/vintage/5.jpg");
               }
          }
     }
}